# Git modules
content/media/js/reveal.js

# Private stuff
content/en/private

# Env
env

# Python compiled files
*.pyc

# Deploy
deploy

# Hyde deps
.hyde_deps

# Tags
content/en/tags
content/es/tags
content/pt/tags

content/media/images/talks/*.png
stork.cfg
.DS_Store
resources/
