{% extends "base.j2" %}

{% block js %}
  {{ super () }}

  {% if addthis_id %}
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript"
    src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ addthis_id }}"
    async="async">
  </script>
  {% endif %}

  {% if disqus_id %}
  <script type="text/javascript">
    var disqus_shortname = '{{ disqus_id }}';

    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
  {% endif %}

  {% if twitter_id %}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  {% endif %}
{% endblock %}

{% block container %}
  <div class="container post">
    <header class="entry-header">
      <div class="meta">
        <small><i class="fa fa-calendar"></i>{{resource.meta.created.strftime('%A %d %B %Y') }}</small>
        <small>
          <i class="fa fa-folder"></i>
          {% set lang = resource.meta.language %}
          {% for tag in resource.meta.tags %}
            <a href="{{ broser_lang }}/blog/tags/{{ locale_tag }}.html">{{ site.tagger.tags[tag]|attr("descr_" + lang)|e }}{{ site.tagger.tags[tag].descr|e }}</a>
            {% if not loop.last -%},{%- endif %}
          {% endfor %}
        </small>
        {% if disqus_id %}
        <a href="{{ site_url }}{{ resource.full_url }}#disqus_thread">
          <i class="fa fa-comment"></i> {{ resource.meta.l10n.comments }}
        </a>
        {% endif %}
        <span>
          <i class="fa fa-user-plus"></i> {{ resource.meta.l10n.follow_me }}
        </span>
        {% if addthis_id %}
        <div class="addthis_horizontal_follow_toolbox"
             style="margin-top: -25px;
             margin-left: -25px;">
        </div>
        {% endif %}
      </div>
    </header>
    <div class="entry-content padding-bottom">
      {% mark article %}
      {% filter markdown -%}
        {% block article %} {% endblock %}
      {%- endfilter %}
      {% endmark %}
    </div>

    {% for tag in resource.meta.tags if tag == "Python" %}
      <div id="thgtp-form" class="row well text-center">
        <div class="col-sm-8">
          <h3>
            <a href="/services/development">
              {{ resource.meta.l10n.checkout_services_title }}
            </a>
          </h3>
          <p>
            {{ resource.meta.l10n.checkout_services_paragraph }}
            <br>
            <br>
            <a role="button" class="btn btn-default"
               href="/services/development">{{ resource.meta.l10n.contact }}</a>
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <a href="/services/development">
            <img src="/media/images/services/development.jpg"
                 alt="Development Services">
          </a>
        </div>
      </div>

      <div class="padding"></div>
    {% endfor %}
  </div>

  <div id="subscribe" class="newsletter bg-sl-center overlay overlay-light"
       style="background-image: url('/media/images/services/photo-notepad.jpg');">
    <div class="container inforow middle">
      <div class="col-sm-6">
	<p>{{ resource.meta.l10n.get_notified_next_post }}</p>
      </div>
      <div class="col-sm-6">
	<div id="feedback-form">
	  <form action="{{ list_subscribe_url }}" method="post">
	    <input name="EMAIL" placeholder="{{ resource.meta.l10n.enter_your_email }}" required type="email">
	    <button type="submit" class="btn btn-default">{{ resource.meta.l10n.subscribe }}</button>
	  </form>
	  <div class="success-block"></div>
	</div>
      </div>
    </div>
  </div>

  {% if disqus_id %}
  <div class="container" id="disqus_thread"></div>

  <script type="text/javascript">
    var disqus_shortname = '{{ disqus_id }}';

    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by
      Disqus.</a></noscript>
  {% endif %}

  {% if addthis_id %}
  <div class="addthis_recommended_horizontal"></div>
  {% endif %}

{% endblock %}

<!--  vim: set filetype=htmldjango: -->
