{% extends "base.j2" %}

{% set tag_dict = {} %}
{% for tag, meta in site.tagger.tags %}
   {% set tag_res = [] %}
   {% for res in meta.resources %}
      {% set lang_root = site.content.source_folder.child_folder(res.meta.language) %}
      {% if resource.node.source_folder.is_descendant_of(lang_root) or resource.node.source_folder == lang_root %}
      {% do tag_res.append(res) %}
      {% endif %}
   {% endfor %}
   {% do tag_dict.update({meta.name: tag_res}) %}
{% endfor %}

{% block js %}
  {{ super() }}

  {% if (disqus_id) != "None" %}
  <script type="text/javascript">
    var disqus_shortname = '{{ disqus_id }}';

    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
  {% endif %}
{% endblock %}

{% macro render_blog_listing(resources) %}
  {% for res in resources %}
    <div class="container post format-image">
      <div class="entry">
	<header class="entry-header">
	  <h2><a href="{{ res.full_url }}">{{ res.meta.title }}</a></h2>
	  <div class="meta">
	    <small><i class="fa fa-calendar"></i>{{res.meta.created.strftime('%A %d %B %Y') }}</small>
	    <small>
	      <i class="fa fa-folder"></i>
              {% for tag in res.meta.tags %}
                <a href="/{{ resource.meta.language }}/tags/{{tag}}.html">{{tag}}</a>{% if not loop.last -%},{%- endif %}
              {% endfor %}
	    </small>
            {% if (disqus_id) != "None" %}
            <a href="{{ site_url }}{{ res.full_url }}#disqus_thread">
              <i class="fa fa-comment"></i> {{ resource.meta.l10n.comments }}
            </a>
            {% endif %}
	  </div>
	</header>
	<div class="entry-content">
          {% if res.meta.image %}
            <a href="{{ res.full_url }}">
              <div class="blog-title-image" style="background-image: url('{{ res.meta.image }}');">
              </div>
            </a>
          {% endif %}
          {% refer to res.relative_deploy_path as post %}
          {{ post.excerpt|markdown }}
	  <a href="{{ res.full_url }}" class="btn btn-default white">{{resource.meta.l10n.readmore}}</a>
	</div>
      </div>
    </div>
    <hr>
  {% endfor %}
{% endmacro %}

{% block content %}
  <div class="col-md-9 col-sm-7 posts">
  {% if tag is defined %}
    {{ render_blog_listing(tag_dict[tag.name]) }}
  {% else %}
    {{ render_blog_listing(resource.page.posts) }}
  {% endif %}

    <div class="container pagination-bar text-center">
      <ul class="pagination">
        {% if resource.page.previous  %}
          <li><a href="{{ resource.page.previous.resource.full_url }}" class="prev"></a></li>
        {% endif %}
        {% for page in resource.pages %}
          <li{% if page == resource.page %} class="active"{% endif %}><a href="{{ page.resource.full_url }}">{{ page.number }}</a></li>
        {% endfor %}
        {% if resource.page.next  %}
          <li><a href="{{ resource.page.next.resource.full_url }}" class="next"></a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  <aside class="col-md-3 col-sm-5 sidebar m-center">
    <!-- .widget -->
    <div class="widget">
      <h4>{{ resource.meta.l10n.tags }}</h4>
      {% set lang = 'en' %}
      {% set previous = None %}
      {% set current = None %}
      {% set n = resource.node %}
      {% set cont = False %}
      {% for _ in range(1, 100) if cont %}
      {% if n.source_folder == site.content.source_folder %}
      {% set cont = True %}
      {% else %}
      {% set previous = current %}
      {% set current = n %}
      {% set n = n.parent %}
      {% endif %}
      {% endfor %}
      {% if previous %}
      {% set lang = previous.source_folder.name %}
      {% endif %}
      <ul class="category-list flat">
        {% for name, resources in tag_dict|dictsort(by='value')|reverse %}
        <li>
          {% if (resources|count) != 0 %}
	  <a{% if tag == name %} class="active"{% endif %}
               href="/{{ resource.meta.language }}/tags/{{ name }}.html">
               {# {{ tag|attr("descr_" + lang)|e }}{{ tag.descr|e  }} #}
               {{ name }}
            <span class="text-right pull-right">
              {{(resources|count) }}
            </span>
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- /.widget -->
  </aside>

{% endblock %}
