---
title: "Método do Mestre para evangelizar (Way of the Master)"
created: !!timestamp '2015-11-29 00:27:00'
#image: /media/images/blog/2015/dont-panic-learn-hyde.jpg
tags:
    - Bible
---

{% block excerpt %}
{% mark excerpt %}

Essas são as minhas anotações em português baseadas no método Way of the Master
(`WOTM`).

{% endmark %}
{% endblock %}

{% include '/pt/blog/2015/wotm/wotm.md' %}

{# Local Variables: #}
{# mode: markdown #}
{# End: #}

<!--  vim: set spell: -->
<!--  vim: set spelllang=pt: -->
<!--  vim: set filetype=htmldjango: -->
